streamlit
pandas
scikit-learn==1.5.1
utide
matplotlib
requests
numpy
Pillow
openpyxl
plotly
earthengine-api
openmeteo-requests
requests-cache
retry-requests
rasterio
pysheds
geopandas
shapely
scipy
osmnx
folium
streamlit-folium
duckdb
mlflow
pyproj
shap
pytest>=7.0.0
pytest-mock>=3.10.0